.buttons {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	display: flex !important;
	justify-content: center;
	align-items: center;
	z-index: 999999999999999 !important;

}

.next-button {
	padding: 0.25em;
	border-radius: 4px;
	border: none;
	background: white;
	color: black;
	width: 4em;
	height: 2em;
	z-index: 999999999999999 !important;
}

.capture-button {
	padding: 0.25em;
	border-radius: 50%;
	border: none;
	background: white;
	color: black;
	width: 4em;
	height: 4em;
}

.a-enter-ar {
	z-index: 999999999 !important;
}