 body {
    font-family: helvetica, arial, sans-serif;
  	margin: 2em;
}

h1 {
  	font-size: 1.35em;
}
div#text {
	position: absolute;
	left: 6px; 
	top: 6px;
	padding: 6px;
	max-width: 300px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 2;
}
#exitbutton {
	position: absolute;
	left: 20px;
	bottom: 20px;
	padding: 6px;
	border: 1px solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.2);
	display: none;
	z-index: 2;
}

#nextbutton {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 6px;
	border: 1px solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.2);
	display: block;
	z-index: 2;
}

#overlay.legacy-ar-mode,
:xr-overlay {
	user-select: none;
}

#overlay.legacy-ar-mode #exitbutton, #overlay.legacy-ar-mode #nextbutton,
:xr-overlay #exitbutton, :xr-overlay #nextbutton {
	display: initial;
}

div.a-orientation-modal {
   display: none;
}
div#controls {
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(200,200,200,0.5);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: 50px;
  z-index: 1;
  touch-action: none;
}

div#controlstick {
  width: 50px;
  height: 50px;
  position: relative;
  left: 2.5px;
  top: 2.5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

button.a-enter-vr-button {
	display: none;
}